{% extends 'base.html' %}

{% block content %}
  <h2 class="text-2xl font-bold mb-4">Edit Membership</h2>

  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>Member Info</h2>
    {{ member_form.as_p }}

    <h2>Membership Info</h2>
    {{ membership_form.as_p }}

    <button type="submit" class="btn bg-primary text-white py-2 px-4 rounded">Save Changes</button>
    {% comment %} <a href="{% url 'clubs:member_profile' club.id member.id %}">Cancel</a> {% endcomment %}

</form>

{% endblock %}
